<div>
	<h2>Productos</h2>
	<ul>
		{{#each products}}
		<li>Product {{code}}:
			{{title}}
			"{{description}}"
			{{#if stock}}
			(Hay stock)
			{{else}}
			(No hay producto disponible)
			{{/if}}
			ID:---- {{_id}}
		</li>
		{{/each}}
	</ul>
</div>